body {
    margin: 0;
    padding: 0;
    font-size: 15pt;
    width: 100%;
    overflow-x: hidden;
}
#wrapper   {
    width: 100%;
    overflow-x: hidden;
}
#projects   {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
/*----------------Project cards------------------*/
.card   {
    box-shadow: 0 5px 10px 0 #999;
    transition: 0.3s;
    width: 100%;
    text-decoration: none;
    float: left;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 10%
}
.card:hover {
    box-shadow: 0 8px 16px 0 #888;
}
.container  {
    height: 10%;
    line-height: 0;
    padding-left: 12px;
    font-family: brandon grotesque;
    text-decoration: none;
}
.projectTitle   {
    font-size: 120%;
    text-decoration: none;
    color: black;
    
}
.projectType    {
    font-size: 100%;
    line-height: 10%;
    text-decoration: none;
    color: black;
}
a   {
    text-decoration: none; 
}
/*--------------Project cards_END---------------*/



/*---------------Repsonsive Nav-----------------*/
#nav    {
    width: 100%;
    font-family: brandon grotesque;
    background-color: black;
    position: fixed;
    top: 0;
    box-shadow: 0 -3px 20px #333;
    z-index: 5;
}
#title  {
    width: 40%;
    margin: auto;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 16pt;
    padding-top: 3%;
}
#navChoices {
    width: 100%;
    font-size: 10pt;
    text-align: center;
}
#navChoices a   {
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    line-height: 50px
}
h1 {
    color: white;
    display: inline-block;
    font-family: brandon grotesque;
    font-size: 30pt;
    font-weight: 900;
    padding-top: 0px;
}
/*-----------Repsonsive Nav_END---------------*/

h2 {
    color: black;
    font-family: brandon grotesque;
    font-size: 18pt;
    font-weight:700;
}
#intro  {
    width: 80%;
    margin: auto;
    margin-top: 150px;;
}
h3  {
    color: black;
    font-family: brandon grotesque;
    font-size: 15pt;
    font-weight:700;
    text-decoration: none;
}
p  {
    color: black;
    font-family: brandon grotesque;
    font-size: 14pt%;
}

/*------------About Page-------------*/
#aboutContainer {
    width:100%;
    margin-left: 10%;
    margin-top: 5%;
}
#picture    {
    width: 80%;
    float: left;
}
#picofme {
    width: 100%;
    display: inline;
    margin-bottom: 5%;
}
#about {
    color: black;
    font-family: brandon grotesque;
    float: left;
    display: inline;
    width: 80%;
    z-index: 900;
    margin-left: 10%;
}
#about > p  {
    font-size: 10pt;
    text-align: justify;
}
/*-------------Resume Container---------------*/
#miniResume {
    background-color: #ededed;
    padding: 2%;
    font-family: brandon grotesque;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
   
}

#education, #skills, #technology, #otherInterests{
    font-size: 14pt;
    line-height: 20pt;
    font-weight: 500;
}
div ul li   {
    list-style-type: none;
    line-height: 18pt;
    font-size: 11pt;
    font-weight: 200;
    text-align: left;
}
/*-------------Resume Container_END---------------*/
/*---------------About Page_END---------------*/


/*------------------Footer-----------------*/
#footer  {
    display: block;
    overflow-x: hidden;
    background: #ededed;
    text-align: center;
    width: 100%;
    height: 10%;
    bottom: 0;
    clear:inherit;
}
#signature  {
    color: grey;
    font-size: 50%;
}
/*-------------------Footer_END-----------------*/

/*-----------------Connect button----------------*/
.connectButton  {
    text-decoration: none;
    background-color: #C4414B;
    text-align: center;
    max-width: 60%;
    line-height: 300%;
    border-radius: 37.5px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5em;
    box-shadow: 0 5px 10px 0 #999;
        transition: 0.3s;
}
.connectButton:hover    {
    box-shadow: 0 8px 16px 0 #888;
}
.button {
    font-family: brandon grotesque;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 60%
}
/*-----------------Connect button_END----------------*/



.connectPage    {
    margin: 40px;
}

/*-----------Project Pages-----------*/
.heroImage  {
    width: 100%;
    align-items: center;
    margin-top: 35%;
}
.hero   {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    
}
#titleWrap {
   background-color: #efefef; 
    width: 100%;
    display: block;
    margin-top: -175px;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 3em;
}
.projectIntro   {
    width: 80%;;
    margin: auto;
    padding-top: 1em;
    margin-top: 15%;
}

.projectIntro > p   {
    text-align: center;
    font-size: 12%pt;
}
#projectInfo    {
    width: 100%;
}
.dotDivider {
    text-align: center;
    margin: 50%;
    margin-bottom: 5%;
    margin-top: 5%;
    display: inline-block;
}
.projectLeft    {
    display: block;
}
.leftImage  {
    width: 80%; 
    margin: 0 auto;
    text-align: center;
}
.leftImageSW > img  {
    width: 80%;
    margin-left: 10%;;
}
.resumeBottom > img  {
    width: 80%;
    margin-left: 10%;
}
.rightText   {
    font-size: 10pt;
    font-family: brandon grotesque;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}
.projectRight   {
    width: 100%;
    display: block;
}
.rightImage  {
    width: 80%; 
    margin-left: 10%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
}
.leftText   {
    font-size: 10pt;
    font-family: brandon grotesque;
    text-align: justify;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.finalImage > img {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.finalImage > video {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    z-index: 2;
}
#takeawayWrap   {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}
#takeaway > h4  {
    font-family: brandon grotesque;
    font-size: 16pt;
    font-weight: 800;
}
#takeaway > p   {
    font-size: 12pt;
}
/*-----------Project Pages END-----------*/

h1  {
    font-family: brandon grotesque;
    font-weight: 900;
    font-size: 16pt;
}
h5   {
    font-family: brandon grotesque;
    font-size: 18pt;
    font-weight: 400;
}

/*---------Contact Form----------*/
#contactForm    {
    width: 80%;
    margin: 0 auto;
}
.form   {
    font-size: 12pt;
    line-height: 12pt;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#name, #mail, #subject, #message   {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-style: solid;
    border-color: #e9e9e9;
    border-width: thin;
    background-color: #efefef;
}
#message    {
    height: 200px;
}
#submit  {
    width: 33%;
    margin-bottom: 3em;
    text-align: center;
    line-height: 28pt;
    font-size: 60%;
    align-items: center;
    background-color: #C4414B;
    border-radius: 5em;
    border-style: none;
    color: white;
    margin-left: 33%;
    
}
#submit:active   {
     background-color: #efefef;
    animation-timing-function: ease-in-out;
}
/*---------Contact Form END----------*/

/*---------back to top button-------*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: #C4414B; 
    color: white; 
    cursor: pointer;
    padding: 15px;
    border-radius: 10px; 
    font-family: brandon grotesque;
}

#myBtn:hover {
    background-color: #777;
}
/*---------back to top button END-------*/

